[Unit]
Description= Start the obd2 simulator
Documentation= https://github.com/christianostoni/ecu-obd2-simulator
[Service]
Type=simple
WorkingDirectory= /home/pi/ecu-obd2-simulator
ExecStart= /home/pi/ecu-obd2-simulator/venv/bin/python3 /home/pi/ecu-obd2-simulator/src/main.py
[Install]
WantedBy= multi-user.target